/* 矢印の色を白、縁取りを黒に設定 */
.swiper-button-next,
.swiper-button-prev {
  color: white; /* 矢印の色を白に設定 */
  text-shadow: 0 0 1px black; /* 縁取りを黒に設定 */
}

/* ホバー時も同じスタイルを維持 */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: white; /* 矢印の色を白に設定 */
  text-shadow: 0 0 1px black; /* 縁取りを黒に設定 */
}

/* アクティブ時も同じスタイルを維持 */
.swiper-button-next:active,
.swiper-button-prev:active {
  color: white; /* 矢印の色を白に設定 */
  text-shadow: 0 0 1px black; /* 縁取りを黒に設定 */
}
